<% include ../inc/header %>
<% include ../inc/navbar %>

<!-- main content container -->
<div class="main">
  <div class="container">
    <div class="section">
      <h1 class="is-title is-size-2">Page not found</h1>
    </div>
  </div>
</div><!-- end of main content container -->

<% include ../inc/footer %>
