<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>Document</title>
</head>
<body>
  <p><b>Verification token</b>: <%= confirmToken %></p>
  <p><a href="<%= link %>">Follow this link to confirm your account.</a></p>
</body>
</html>